@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto-Regular.ttf");
}

/*
*{
    box-sizing:border-box;
    margin:0;
}
*/

html, body {
    margin: 0;
    padding: 0;
}

.descuentos{
    position: absolute;
    position: fixed;
    z-index: 1;
    padding: 1px 1px 1px 10px;
    width:100%;
    height: 38px;
    background: #D1891C;
    ;
}

h2{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-left: 29.9px;
}

.tag{
    position: absolute;
    position: fixed;
    z-index: 1;
    background: #D1891C;
    ;
    padding:10px;
}

.titulo{
    position:absolute;
    top: 38px;
    width:100%;
    padding-left: 0rem;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    margin-left: 10px;
}

section{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section article{
    display: flex;
    flex-direction:column;
    align-items:center;
    position: relative;
    background: #d4cec5;
    width: 300px;
    height: 580px;
    margin: 200px 0;
    border-radius: 16px 16px 0px 0px;
}

article div.batifondo{
    position: relative;
    height: 194px;
    width: 300px;
    background-image: url(../img/batifondo.png);
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

article div i{
    position: relative;
    text-align: left;
    font-size: 25px;
    padding: 10px;
    color: red;
}

article img{
    position: absolute;
    border-radius: 50%;
    width: 125px;
    bottom: 330px;
}

article h3{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 0px;
    position: relative;
    top: 40px;
}

article p{
    position: relative;
    bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

article button{
    position: relative;
    bottom: 10px;
    bottom: 0px;
    padding: 15px 20px;
    background: #00669F;
    border:none;
    color: #F3F3F3;
    text-align: center;
}

article div.bg-mujer-maravilla{
    height: 194px;
    width: 300px;
    background-image: url(../img/fondo_mm.png);
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
    text-align: left;
}

article div.superfondo{
    position: relative;
    height: 194px;
    width: 300px;
    background-image: url(../img/superfondo.png);
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

article h3.titulo_hq{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    padding-bottom: 0px;
    position: relative;
    top: 40px;
}

article div.harley-fondo{
    position: relative;
    height: 194px;
    width: 300px;
    background-image: url(../img/harleyq_background.png);
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

.foot{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width: 99.3%;
    height:40px;
    padding: 5px 5px 5px 5px;
    background: #00669F;
}

span h4{
    position: relative;
    width: 90%;
    background: #00669F;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #F3F3F3;
}

.fab.fa-github{
    background: #00669F;
    font-size: 25px;
    text-align: right;
    color: #F3F3F3;
}

.link{
    text-align: left;
    background: #00669F;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    color: #F3F3F3;
}








